[user]
  name = Michael McHolm
  email = 
[color]
  branch = auto
  status = auto
  diff = auto
[color "diff"]
  meta = yellow
  frag = cyan
  old = red
  new = green
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  gr = log --graph --pretty=format:'%Cred%h%Creset - %s (%Cblue%cn%Creset) %Cgreen(%cr)%Creset %Cred%d%Creset' --abbrev-commit --date=relative
  lg = log --graph --date=relative --decorate
  pl = pull --summary 
  pr = pull --rebase --stat
[core]
  pager = less -FRSX
[push]
  default = simple
